$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #000000,
	),
	text: (
		body: #000000,
	),
	theme: (
		primary: #FFEC3E,
	),
	grey: (
		1: #c5c5c5,
		2: #aeaeae,
	),
	border: (
		1: #ededed,
	),
);
