@media only screen and (min-width: 1600px) and (max-width: 1770px) {
	.sds-redefine-section .redefine_item .redefine_images .shapes-1 {
		top: 80px;
		left: -37%;
		max-width: 240px;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
	.sds-redefine-section  .redefine_wrapper .redefine_title {
		margin-bottom: 100px;
	}
	.sds-redefine-section .redefine_wrapper .redefine_title .title {
		font-size: 100px;
	}
	.sds-redefine-section .redefine_item .redefine_images .shapes-1 {
		top: 70px;
		left: -40%;
		max-width: 220px;
	}
	.sds-redefine-section .redefine_item .redefine_content .shapes-2 {
		max-width: 175px;
		top: 55%;
		right: -38%;
	}
	.sds-redefine-section .redefine_item .redefine_content {
		max-width: 520px;
		padding: 120px 50px;
	}
	.sds-redefine-section .redefine_item .redefine_images {
		max-width: 450px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.sds-redefine-section .redefine_wrapper .redefine_title {
		margin-bottom: 100px;
	}
	.sds-redefine-section .redefine_wrapper .redefine_title .title {
		font-size: 100px;
	}
	.sds-redefine-section .redefine_item .redefine_images {
		max-width: 400px;
	}
	.sds-redefine-section .redefine_item .redefine_images .shapes-1 {
		top: 65px;
		left: -32%;
		max-width: 180px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
}
