@use "../utilities" as *;

/**----------------------------------------
START: Redefine CSS
----------------------------------------*/

.sds-redefine-section {
    padding-top: 120px;
    padding-bottom: 120px;
    @media #{$lg} {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media #{$md, $sm, $xs} {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.redefine_wrapper {
    position: relative;
    background-color: var(--tj-color-theme-primary);
    border-radius: 64px;
    padding: 120px 70px 165px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .redefine_title {
        max-width: 895px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 143px;
        .title {
            font-size: 144px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 0;
            letter-spacing: -0.01em;
            line-height: 1;
        }
    }
    @media #{$xxl, $xl} {
        .redefine_title {
            margin-bottom: 100px;
            .title {
                font-size: 100px;
            }
        }
    }
    @media #{$lg} {
        .redefine_title {
            max-width: 620px;
            margin-bottom: 90px;
            .title {
                font-size: 80px;
            }
        }
    }
    @media #{$lg} {
        padding: 100px 70px 140px;
    }
    @media #{$md} {
        padding: 90px 70px 110px;
        border-radius: 44px;
        .redefine_title {
            margin-bottom: 80px;
            .title {
                font-size: 70px;
            }
        }
    }
    @media #{$sm} {
        padding: 80px 70px 110px;
        border-radius: 34px;
        .redefine_title {
            margin-bottom: 50px;
            .title {
                font-size: 60px;
            }
        }
    }
    @media #{$xs} {
        padding: 80px 45px 110px 56px;
        border-radius: 24px;
        .redefine_title {
            max-width: 285px;
            margin-bottom: 48px;
            .title {
                font-size: 32px;
                line-height: 1.2;
            }
        }
    }
}

.redefine_item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    max-width: 1167px;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    .redefine_images {
        position: relative;
        max-width: 500px;
        width: 100%;
        transform: rotate(-5deg);
        border: 15px solid var(--tj-color-common-white);
        .shapes-1 {
            position: absolute;
            top: 45px;
            left: -55%;
            max-width: 350px;
            width: 100%;
        }
    }
    .redefine_content {
        position: relative;
        max-width: 560px;
        width: 100%;
        background-color: var(--tj-color-common-white);
        padding: 120px 64px;
        transform: rotate(5deg);
        .title {
            text-transform: uppercase;
            letter-spacing: -0.02em;
            margin-bottom: 50px;
        }
        .desc {
            font-size: 20px;
            letter-spacing: -0.01em;
            line-height: 1.4;
            p {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .redefine_button {
            margin-top: 45px;
        }
        .shapes-2 {
            max-width: 225px;
            width: 100%;
            position: absolute;
            top: 55%;
            right: -45%;
        }
        .shapes-3 {
            max-width: 265px;
            width: 100%;
            position: absolute;
            bottom: -12.4%;
            left: -29.5%;
        }
        @media #{$lg} {
            .title {
                margin-bottom: 40px;
            }
        }
    }
    @media #{$xxxl} {
        .redefine_images {
            .shapes-1 {
                top: 80px;
                left: -37%;
                max-width: 240px;
            }
        } 
    }
    @media #{$xxl} {
        max-width: 1020px;
        .redefine_images {
            max-width: 450px;
            .shapes-1 {
                top: 70px;
                left: -40%;
                max-width: 220px;
            }
        }
        .redefine_content {
            max-width: 520px;
            padding: 120px 50px;
            .shapes-2 {
                max-width: 175px;
                top: 55%;
                right: -38%;
            }
        }
    }
    @media #{$xl} {
        max-width: 925px;
        .redefine_images {
            max-width: 400px;
            .shapes-1 {
                top: 65px;
                left: -32%;
                max-width: 180px;
            }
        }
        .redefine_content {
            max-width: 460px;
            padding: 90px 40px;
            .shapes-2 {
                max-width: 150px;
                top: 55%;
                right: -36%;
            }
            .shapes-3 {
                max-width: 180px;
                bottom: -8.4%;
                left: -24.5%;
            }
        }
    }
    @media #{$lg} {
        max-width: 795px;
        .redefine_images {
            max-width: 360px;
            .shapes-1 {
                top: 60px;
                left: -24%;
                max-width: 145px;
            }
        }
        .redefine_content {
            max-width: 376px;
            padding: 60px 30px;
            .shapes-2 {
                max-width: 120px;
                top: 55%;
                right: -34%;
            }
            .shapes-3 {
                max-width: 150px;
                bottom: -8.4%;
                left: -24.5%;
            }
        }
    }
    @media #{$md} {
        max-width: 795px;
        .redefine_images {
            max-width: 410px;
            .shapes-1 {
                top: 40px;
                left: -15%;
                max-width: 145px;
            }
        }
        .redefine_content {
            max-width: 520px;
            padding: 60px 30px;
            .shapes-2 {
                max-width: 120px;
                top: 55%;
                right: -25%;
            }
            .shapes-3 {
                max-width: 150px;
                bottom: -9%;
                left: 3%;
            }
        }
    }
    @media #{$sm} {
        max-width: 795px;
        .redefine_images {
            max-width: 410px;
            .shapes-1 {
                top: 20px;
                left: -15%;
                max-width: 145px;
            }
        }
        .redefine_content {
            max-width: 100%;
            padding: 50px 25px;
            margin-top: -20px;
            .title {
                margin-bottom: 25px;
            }
            .desc {
                font-size: 18px;
                p {
                    margin-bottom: 20px;
                }
            }
            .shapes-2 {
                max-width: 110px;
                top: -20px;
                right: -10%;
            }
            .shapes-3 {
                max-width: 130px;
                bottom: -13%;
                left: 50%;
                transform: translateX(-50%);
            }
            .redefine_button {
                margin-top: 35px;
            }
        }
    }
    @media #{$xs} {
        max-width: 795px;
        .redefine_images {
            max-width: 225px;
            border: 7px solid var(--tj-color-common-white);
            left: -22px;
            .shapes-1 {
                top: -25px;
                left: -10%;
                max-width: 94px;
            }
        }
        .redefine_content {
            max-width: 280px;
            padding: 48px 24px;
            margin-top: -75px;
            .title {
                max-width: 230px;
                width: 100%;
                margin-bottom: 25px;
                letter-spacing: -0.01em;
                line-height: 1.4;
            }
            .desc {
                font-size: 14px;
                letter-spacing: initial;
                p {
                    margin-bottom: 20px;
                }
            }
            .shapes-2 {
                max-width: 96px;
                top: -20px;
                right: -3%;
            }
            .shapes-3 {
                max-width: 114px;
                bottom: -13%;
                left: 50%;
                transform: translateX(-50%);
            }
            .redefine_button {
                margin-top: 36px;
            }
        }
    }
}
/* !END: Redefine CSS */

